/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 50px;
}

/* Container */
.container {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 100px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Input section */
.input-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#addBtn {
  margin-left: 10px;
  padding: 10px 15px;
  background: #ec4c08;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

#addBtn:hover {
  background: #218838;
}

/* Task List */
ul {
  list-style: none;
}

li {
  padding: 10px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

li.completed {
  text-decoration: line-through;
  color: rgb(114, 113, 113);
}

.remove-btn {
  background: #ec4c08;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

.remove-btn:hover {
  background: #ec4c08;
}
